extends layout
block title
  title cards

block content
  .wrapper
    h1 piles
    .piles
      .pile
        a(href="pile1") pile-1
      .pile
        a(href="pile2") pile-2
      .pile
        a(href="pile3") pile-3
      .pile
        a(href="pile4") pile-4
      .pile
        a(href="pile5") pile-5