extends layout

block title
  title home


block content
  h1 страница создания коллекций

  h2 список коллекций
  ul
  each val, i in collections
    li.collection 
      a(href="collection/" + val.collectionName ) #{val.collectionName}
      button.button.modificator.rename(data-rename-id=val._id type="submit")
        img(src="/assets/img/update-icon.png", alt="update collection" )
      button.button.modificator.delete(data-delete-id=val._id type="button") 
        img(src="/assets/img/delete-icon.png", alt="delete collection" )
  hr
  h2 созданиe коллекции
  form(action="/" id="create-collection")
    div.field
      label(for="CollectionName") введите название коллекции:
      input(type="text" id="collection" name="CollectionName") 

    button.add-button(type="submit") сохранить