extends layout
block title
  title cards

block content
  .wrapper
    h1 stacks
    .stacks
      .stack
        a(href="stack1") stack-1
      .stack
        a(href="stack2") stack-2
      .stack
        a(href="stack3") stack-3
      .stack
        a(href="stack4") stack-4
      .stack
        a(href="stack5") stack-5